<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<style>

	body{
		background-color: #638CB8;
	}

	input{
		width: 250px;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #afa9a9;
	}

	.submit{
		background-color: #5f90cc;
	}

	.center-column{
		width:500px;
		margin: 20px auto;
		padding:20px;
		background-color: rgb(233, 182, 182);
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

    .todo-list{
		width:800px;
		margin: 20px auto;
		padding:20px;
		background-color: rgb(127, 209, 164);
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #916dbd;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}

	.btn-remove{
		background-color: red;
		border-color: red;
    }

    .btn-edit{
		background-color: #ffae19;
		border-color: #e59400;
    }

    .taskItem {
    border-top: 1px solid #5c5858;
    padding: 15px 0;
    color: rgb(17, 19, 18);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.5px;
    }

    .taskList {
    list-style: none;
    padding: 0 20px;
    }


    .icon {
    position: absolute;
    top: 30%;
    left: 10px;
    font-size: 20px;
}

.taskAdd {
    background: #444;
    padding-left: 31px;
}
.taskAdd:hover {
    background: #303030;
}
.taskDelete {
    background: #e74c3c;
    padding-left: 30px;
}
.taskDelete:hover {
    background: #c0392b;
}

button {
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    border-radius: 2px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-left: 30px;
    padding-right: 15px;
}


.taskList .taskDate {
    color: #95a5a6;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-left: 41px;
}
.fa-calendar {
    margin-right: 10px;
    font-size: 16px;
}
[class*='category-'] {
    display: inline-block;
    font-size: 10px;
    background: #444;
    vertical-align: middle;
    color: #fff;
    padding: 10px;
    width: 75px;
    text-align: center;
    border-radius: 2px;
    float: right;
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 20px;
}
.category- {
    background: transparent;
}
.category-Personal {
    background: #2980b9;
}
.category-Work {
    background: #8e44ad;
}
.category-School {
    background: #f39c12;
}
.category-Cleaning {
    background: #16a085;
}
.category-general {
    background: #d35400;
}



</style>



    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'ToDoLIst/style.css' %}">


<div class="center-column">
    <form method="post">
        {% csrf_token %}

        <div class="item-row">
            <label for="title">Task Title</label>
            <input type="text" id="title" class="taskTitle" placeholder="What do you need to do?" name="title" required>

        </div>

        <div class="item-row">
            <label for="title">Task Description</label>
            <input type="text" id="content" class="taskContent" placeholder="What is it?" name="content" required>

        </div>


        <div class="item-row">
            <label for="category">Priority</label>
            <i class="fa fa-caret-down selectArrow"></i>
            <select id="priority" class="taskPriority" name="priority" required>
            <option class="disabled" value="">Choose a priority</option>
            {% for i in n %}
                <option class="" value="{{i}}">{{ i }}</option>
            {% endfor %}
            </select>

        </div>

        <div class="item-row">
            <label for="due_date">Due Date</label>
            <input type="datetime-local" value="2020-12-12T19:30" min="2020-12-12T00:00" id="due_date" class="task_due_date" name="due_date">

        </div>


        <div class="item-row">
            <label for="category">Category</label>
            <i class="fa fa-caret-down selectArrow"></i>
            <select id="category" class="taskCategory" name="category" required>
            <option class="disabled" value="">Choose a category</option>
            {% for category in categories %}
                <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
            </select>

        </div>

        <button class="taskAdd" name="taskAdd" type="submit"><i class="fa fa-plus icon"></i>Add task</button>
        <button class="taskDelete" name="taskDelete" formnovalidate="" type="submit" onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Delete Tasks</button>
    </form>
</div>

<div class="todo-list">
    <ol class="taskList">
        {% for task in tasks %}
            <li class="taskItem">

                {% if task.completed == True %}
                    <strike>{{task.title}} </strike>
                {% else %}
                    <a href="{% url "update_task" task.id %}">{{task.title}}</a>
                    {{task.content}}
                    {{task.due_date}}
                    {{task.category}}
                    {{task.priority}}
                {% endif %}

                <button class="btn-remove"><i class="fa fa-trash-o icon"></i><a href="{% url "delete_task" task.id %}">Delete</a></button>

                <span class="category-{{ task.category }}">{{ task.category }}</span>
                <strong class="taskDate"><i class="fa fa-calendar"></i>{{ task.created }} - {{ task.due_date }}</strong>
            </li>
        {% endfor %}
    </ol>
</div>
