<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>

	body{
		background-color: #638CB8;
	}



	input::placeholder {
	  color: #afa9a9;
	}

	.center-column{
		width:500px;
		margin: 20px auto;
		padding:20px;
		background-color: rgb(233, 182, 182);
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

    .todo-list{
		width:800px;
		margin: 20px auto;
		padding:20px;
		background-color: rgb(127, 209, 164);
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #916dbd;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}


    .taskItem {
        border-top: 1px solid #5c5858;
        padding: 15px 0;
        left: 30px;
        color: rgb(17, 19, 18);
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 0.5px;
        position: relative;
    }

    .taskList {
        list-style: none;
        padding: 0 20px;
    }


    .icon {

        font-size: 20px;
    }

    .taskAdd {
        background: rgb(53, 138, 10);
        padding-left: 31px;

        justify-content: center;
        align-items: center;
        border: 3px solid green;

        height:50px;
        width:150px;
        margin-top: -20px;
        margin: -0px -50px;

        top:40%;
        left:45%;
    }

    .taskAdd:hover {
        background: #1c271d;
    }


    .taskAdd .icon {
        position: absolute;
        top: 30%;
        left: 10px;
        font-size: 20px;
    }


    .sort_due_date {
        background: rgb(186, 197, 27);
        padding-left: 10px;

        justify-content: center;
        align-items: center;
        border: 3px solid green;

        height:50px;
        width:150px;
        margin-top: -20px;
        margin: -0px -50px;

        top:40%;
        right: 0%;
        left: 9%;
    }

    .sort_due_date .icon {
        position: absolute;
        left:10px;
        justify-content: center;
    }

    .sort_due_date:hover{
        background: #1c271d;
    }



    .sort_priority {
        background: rgb(226, 127, 14);
        padding-left: 31px;

        justify-content: center;
        align-items: center;
        border: 3px solid green;

        height:50px;
        width:150px;
        margin-top: -20px;
        margin: -0px -50px;

        top:40%;
        left:40%;
    }

    .sort_priority:hover{
        background: #1c271d;
    }

    .sort_priority .icon {
        position: absolute;
        align-items: center;
        justify-content: center;
    }


    .delete_completed {
        background: rgb(209, 46, 17);
        padding-left: 31px;

        justify-content: center;
        align-items: center;
        border: 3px solid green;

        height:50px;
        width:150px;
        margin-top: -20px;
        margin: -0px -50px;

        top:40%;
        left: 70%;
    }

    .delete_completed .icon {
        position: absolute;
        align-items: center;
        top: 30%;
        right: 15px;
        justify-content: center;
    }

    .delete_completed:hover{
        background: #1c271d;
    }

    .btn-danger{

        font-size: 10px;
        vertical-align: middle;

        color: rgb(189, 45, 45);
        padding: 5px;
        width: 75px;
        text-align: center;
        border-radius: 2px;
        float: right;
        font-weight: normal;


        left:500px;
        vertical-align: middle;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .btn-primary{

        font-size: 10px;
        vertical-align: middle;

        position: relative;

        color: rgb(189, 45, 45);
        padding: 5px;
        width: 30px;
        text-align: center;
        border-radius: 2px;

        right: 18%;
        font-weight: normal;



        vertical-align: middle;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .btn-primary:hover{
        background-color: rgb(189, 45, 45);
    }



    button {
        font-family: 'Open Sans', sans-serif;
        background: transparent;
        border-radius: 2px;
        border: none;
        outline: none;
        height: 50px;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        position: relative;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        padding-left: 30px;
        padding-right: 15px;
    }


    .taskList .taskDate {
        color: #1ca0a7;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        margin-left: 41px;
    }

    .fa-calendar {
        margin-right: 10px;
        font-size: 16px;
    }

    [class*='category-'] {
        display: inline-block;
        font-size: 10px;
        background: #444;
        vertical-align: middle;
        color: #fff;
        padding: 10px;
        width: 75px;
        text-align: center;
        border-radius: 2px;
        float: right;
        font-weight: normal;
        text-transform: uppercase;
        margin-right: 50px;
    }

    .category- {
        background: transparent;
    }
    .category-Personal {
        background: #2980b9;
    }
    .category-Work {
        background: #8e44ad;
    }
    .category-School {
        background: #f39c12;
    }
    .category-Cleaning {
        background: #16a085;
    }
    .category-General {
        background: #d35400;
    }


    h1 {
        font-family: 'Rokkitt', sans-serif;
        color: black;
        text-align: center;
        font-weight: 400;
        font-size: 50px;
        margin: 0;
    }

    .tagline {
        margin-top: -10px;
        text-align: center;
        padding: 5px 20px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        color: #777;
    }


    .center-column label {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: 600;

        color: rgb(8, 8, 8);
    }

    .center-column input{

        width: 275px;
		padding: 10px 20px;

        margin-bottom: 10px;
		box-sizing: border-box;
        float: right;
    }


    .taskList a{
        color: black
    }


    .category- option {
        margin: 40px;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    }

    select option[value="School"] {
        background: #f39c12;
    }

    select option[value="General"] {
        background: #d35400;
    }

    select option[value="Work"] {
        background: #8e44ad;
    }

    select option[value="Personal"] {
        background: #2980b9;
    }

    select option[value="Cleaning"] {
        background: #16a085;
    }

    .priority- option{
        margin: 40px;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    }


    select option[value="1"] {
        background:rgb(206, 197, 70);
    }

    select option[value="2"] {
        background: yellow;
    }

    select option[value="3"] {
        background:orange;
    }

    select option[value="4"] {
        background:rgb(233, 72, 72);
    }

    select option[value="5"] {
        background: rgb(206, 13, 13);
    }

    .task_due_date{
        text-transform: uppercase;

    }

    .taskCheckbox {
        margin-right: 1em;
    }
    .complete-true {
        text-decoration:  line-through;
        color: #bebebe;
    }


</style>


<script type="text/javascript">
 document.addEventListener("DOMContentLoaded", function(event) {
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };



</script>

<title>

    ToDoApp
</title>

<body>


<div class="center-column">

    <h1 >ToDo App</h1>
    <p class="tagline" >in Python Django</p>

    <form action="/"  method="post">
        {% csrf_token %}

        <div class="item-row">
            <label for="title">Title</label>
            <input type="text" id="title" class="taskTitle" placeholder="What is the name of new Task?" name="title" required>

        </div>

        <div class="item-row">
            <label for="title">Description</label>
            <input type="text" id="content" class="taskContent" placeholder="What is it about?" name="content" required>

        </div>


        <div class="item-row">
            <label for="category">Priority</label>
            <i class="fa fa-caret-down selectArrow"></i>
            <select id="priority" class="priority" name="priority" required>
            <option class="disabled" value="">Choose a priority</option>
            {% for i in n %}
                <option class="" value="{{i}}">{{ i }}</option>
            {% endfor %}
            </select>

        </div>

        <div class="item-row">
            <label for="due_date">Due Date</label>
            <input type="datetime-local"  min="2020-12-12T00:00" id="due_date"  class="task_due_date" name="due_date">

        </div>


        <div class="item-row">
            <label for="category">Category</label>
            <i class="fa fa-caret-down selectArrow"></i>

            <select id="category"  name="category" class="category" required>

            <option class="disabled" value="">Choose a category</option>
            {% for category in categories %}
                <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
            </select>

        </div>

        <button class="taskAdd" name="taskAdd" type="submit"><i class="fa fa-plus icon fa-2x"></i>Add task</button>

    </form>
</div>


<div class="todo-list">
    <div>
        <div>
        <form action="sort_task" method="POST">
            {%csrf_token%}

            <button class="sort_due_date" name="due_date" type="submit"><i class="fa fa-clock-o fa-2x"></i></button>
            <button class="sort_priority" name="priority" type="submit"><i class="fa fa-exclamation fa-2x"></i></button>
            <button class="delete_completed" name="delete_completed" type="submit"><i class="fa fa-check-square-o fa-2x"></i> <i class="fa fa-trash-o icon fa-2x"></i></button>
        </form>
        </div>

        <br>
        <br>


    <ol class="taskList">
        {% for task in tasks %}
            <li class="taskItem">

                {% if task.completed == True %}
                    <strike style='color:black'>
                        <span></span><a style='color:red' href="{% url "update_task" task.id %}">{{task.title}}</a>
                    </strike>

                {% else %}


                    <label for="{{ task.id }}"><span ><a href="{% url "update_task" task.id %}">{{task.title}}</a></span></label>

                    <!-- {{task.content}}
                    {{task.due_date}}
                    {{task.category}}
                    {{task.priority}} -->
                {% endif %}

                <!-- <button class="btn-remove"><i class="fa fa-trash-o icon"></i><a href="{% url "delete_task" task.id %}">Delete</a></button> -->
                <a href="{% url "complete_task" task.id %}" class="btn btn-primary complete " role="button" aria-pressed="true"> <i class="fa fa-check-square-o"></i></a>
                <a href="{% url "delete_task" task.id %}" class="btn btn-danger btn-lg active " role="button" aria-pressed="true"> <i class="fa fa-trash-o icon"></i></a>
                <span class="category-{{ task.category }}">{{ task.category }}</span>
                <strong class="taskDate"><i class="fa fa-calendar"></i>Due: {{ task.due_date }} | Priority: {{task.priority}}</strong>
            </li>
        {% endfor %}
    </ol>
</div>
</div>

</body>